<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReleaseAction.Paths[nuget]" value="C:\nuget\v3.5.0\nuget.exe"/>
    <add key="ReleaseAction.Paths[MSBuild]" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"/>
  </appSettings>
</configuration>